<h1>Create new question in test '<%= @test.title %>'</h1>
<form action="/tests/<%= @test.id %>/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label for="question-body">Question:</label>
    <input type="test" name="question[body]" id="question-body">
  </p>

  <input type="submit" value="Create">
</form>
