<h2>Result</h2>
<div class=<%= options(@test_passage.success?, :css_class) %>>
  <%= number_to_percentage(@test_passage.result, precision: 1) %>
  <%= content_tag :p, options(@test_passage.success?, :conclusion) %>
</div>

<br>
<%= link_to 'Back', tests_path %>
