<footer class="nav footer">
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :_blank %></p>
  <p><%= cur_year %> Elena Chekhina <%= github_url(author: 'elenachekhina', repo: 'test-guru', title: 'Test Guru') %></p>
</footer>
